include ../b-photo-slider/b-photo-slider
mixin b-history(data)
    +b.b-history
        .container
            +e.title История
            +e.text
                p Салеха́рд — город в России, административный центр Ямало-Ненецкого автономного округа.
                p Город = расположен на Полуйской возвышенности Западно-Сибирской равнины при впадении реки Полуй в Обь, в 2436 км от Москвы.
                p Салеха́рд — город в России, административный центр Ямало-Ненецкого автономного округа.

            +e.slider
                +b-photo-slider
