.b-photo-slider {
    position: relative;
    @include swiper-btn;
    @include swiper-btn-abs;

}
.b-photo-slider__slide {
    height: 100%;
    overflow: hidden;
    border-radius: rem(10);
}
.b-photo-slider__link {
    height: 100%;
    display: block;
    &:hover {
        .b-photo-slider__img {
            transform: scale(1.05);
        }
    }
}
.b-photo-slider__img {
    padding-bottom: 50%;
    @include cover;
    @include zoom;
    transform-origin: bottom;
    transition: 0.6s;
}
