.b-logos-section {

}
.b-logos-section__list {
    .row {
        align-items: center;
    }
}
.b-logos-section__item {
    text-align: center;
    margin-bottom: 30px;
}
.b-logos-section__pagination {
    margin-top: rem(129);
}


