mixin b-ico-list(data)
    +b.b-ico-list
        +e.items
            .row
                +e.item-col.col-md-4(data-aos="zoom-in-up" data-aos-delay="100")
                    +e.ico
                        div <span>-18°С<span>
                    +e.name СЕВЕРНОЕ СИЯНИЕ
                    +e.text В нашем городе происходит более 55 сияний в год
                +e.item-col.col-md-4(data-aos="zoom-in-up" data-aos-delay="200")
                    +e.ico
                        div <span>1.1</span> км
                    +e.name СЕВЕРНОЕ СИЯНИЕ
                    +e.text В нашем городе происходит более 55 сияний в год
                +e.item-col.col-md-4(data-aos="zoom-in-up" data-aos-delay="300")
                    +e.ico
                        div <span>12</span> мин
                    +e.name СЕВЕРНОЕ СИЯНИЕ
                    +e.text В нашем городе происходит более 55 сияний в год
