mixin b-ico-list_about(data)
    +b.b-ico-list
        +e.items
            .row
                +e.item-col.col-sm-6.col-md-3
                    +e.ico
                        div <span>2</span> часа
                    +e.text Время полёта
                    +e.name из Екатеринбурга
                +e.item-col.col-sm-6.col-md-3
                    +e.ico
                        div <span>2</span>ч<br> <span>45</span> мин
                    +e.text Время полёта
                    +e.name из Москвы
                +e.item-col.col-sm-6.col-md-3
                    +e.ico
                        div <span>4</span> часа
                    +e.text Время полёта
                    +e.name из Cанкт-Петербурга
                +e.item-col.col-sm-6.col-md-3
                    +e.ico
                        div <span>1</span>ч<br> <span>30</span> мин
                    +e.text Время полёта
                    +e.name из Тюмени

