include ../b-cards-list/b-cards-list_news
include ../b-pagination/b-pagination

mixin b-news-section(data)
    +b.b-news-section
        .container
            +e.title Новости
            +e.list
                +b-cards-list_news({
                    items: [
                        {
                            img: '__static__img/content/n3.jpg',
                            date: '15.12.2020',
                            title: 'Катание на оленях в санях',
                            desc: '<p>Салеха́рд — город в России, административный центр Ямало-Ненецкого автономного округа.<br> Город расположен на Полуйской возвышенности Западно-Сибирской равнины при впадении реки Полуй в Обь, в 2436 км от Москвы.</p>',
                        },
                        {
                            img: '__static__img/content/n3.jpg',
                            date: '15.12.2020',
                            title: 'Катание на оленях в санях',
                            desc: '<p>Салеха́рд — город в России, административный центр Ямало-Ненецкого автономного округа.<br> Город расположен на Полуйской возвышенности Западно-Сибирской равнины при впадении реки Полуй в Обь, в 2436 км от Москвы.</p>',
                        },
                        {
                            img: '__static__img/content/n3.jpg',
                            date: '15.12.2020',
                            title: 'Катание на оленях в санях',
                            desc: '<p>Салеха́рд — город в России, административный центр Ямало-Ненецкого автономного округа.<br> Город расположен на Полуйской возвышенности Западно-Сибирской равнины при впадении реки Полуй в Обь, в 2436 км от Москвы.</p>',
                        },

                    ]
                })
        +e.pagination
            +b-pagination
