include ../b-cards-list/b-cards-list_events
include ../b-filter/b-filter
include ../b-pagination/b-pagination

mixin b-events-section(data)
    +b.b-events-section
        .container
            +e.title Мероприятия
            +e.filter
                +b-filter
            +e.list
                +b-cards-list_events({
                    items: [
                        {
                            img: '__static__img/content/n2.jpg',
                            date: '17 декабря',
                            title: 'Катание на оленях в санях',
                            price: '<span>1200</span> ₽/человек',
                            desc: '<p>Салеха́рд — город в России, административный центр Ямало-Ненецкого автономного округа.<br> Город расположен на Полуйской возвышенности Западно-Сибирской равнины при впадении реки Полуй в Обь, в 2436 км от Москвы.</p>',
                            age: '6+'
                        },
                        {
                            img: '__static__img/content/n2.jpg',
                            date: '17 декабря',
                            title: 'Катание на оленях в санях',
                            price: '<span>1200</span> ₽/человек',
                            desc: '<p>Салеха́рд — город в России, административный центр Ямало-Ненецкого автономного округа.<br> Город расположен на Полуйской возвышенности Западно-Сибирской равнины при впадении реки Полуй в Обь, в 2436 км от Москвы.</p>',
                            age: '18+'
                        },
                        {
                            img: '__static__img/content/n2.jpg',
                            date: '17 декабря',
                            title: 'Катание на оленях в санях',
                            price: '<span>1200</span> ₽/человек',
                            desc: '<p>Салеха́рд — город в России, административный центр Ямало-Ненецкого автономного округа.<br> Город расположен на Полуйской возвышенности Западно-Сибирской равнины при впадении реки Полуй в Обь, в 2436 км от Москвы.</p>',
                            age: '0+'
                        }
                    ]
                })
            +e.pagination
                +b-pagination
