
mixin b-map(data)

    +b.b-map
        +e.map#map
        +e.event


        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDlxtMO06u8V-z6oKyV9kjZevSs-vQ9Ato&callback')
        script(src='https://cdn.jsdelivr.net/npm/rich-marker@0.0.1/index.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js')



