mixin b-main-logos(data)
    +b.b-main-logos
        +e.bg
            .container
                +e.content
                    +e.grid
                        +e.item
                            img(src='__static__img/content/l1w.png')
                        +e.item
                            img(src='__static__img/content/l2w.png')
                        +e.item
                            img(src='__static__img/content/l3w.png')
                        +e.item
                            img(src='__static__img/content/l4w.png')
                        +e.item
                            img(src='__static__img/content/l5w.png')

                    .text-center
                        +e.A.btn(href='#') Смотреть все
