include ../b-cards-list/b-cards-list
include ../b-pagination/b-pagination

mixin b-tours-section(data)
    +b.b-tours-section
        .container
            +e.title Туры по Салехарду
            +e.filter
                +e.A.filter-btn._active Все
                +e.A.filter-btn Экстремальные
                +e.A.filter-btn Новогодние
                +e.A.filter-btn Детские
            +e.list
                +b-cards-list({
                    items: [
                        {
                            img: '__static__img/content/n2.jpg',
                            date: '17 декабря - 31 января',
                            title: 'Катание на оленях в санях',
                            price: '<span>1200</span> ₽/человек',
                            desc: '<p>Салеха́рд — город в России, административный центр Ямало-Ненецкого автономного округа.<br> Город расположен на Полуйской возвышенности Западно-Сибирской равнины при впадении реки Полуй в Обь, в 2436 км от Москвы.</p>',
                            age: '6+'
                        },
                        {
                            img: '__static__img/content/n2.jpg',
                            date: '17 декабря - 31 января',
                            title: 'Катание на оленях в санях',
                            price: '<span>1200</span> ₽/человек',
                            desc: '<p>Салеха́рд — город в России, административный центр Ямало-Ненецкого автономного округа.<br> Город расположен на Полуйской возвышенности Западно-Сибирской равнины при впадении реки Полуй в Обь, в 2436 км от Москвы.</p>',
                            age: '18+'
                        },
                        {
                            img: '__static__img/content/n2.jpg',
                            date: '17 декабря - 31 января',
                            title: 'Катание на оленях в санях',
                            price: '<span>1200</span> ₽/человек',
                            desc: '<p>Салеха́рд — город в России, административный центр Ямало-Ненецкого автономного округа.<br> Город расположен на Полуйской возвышенности Западно-Сибирской равнины при впадении реки Полуй в Обь, в 2436 км от Москвы.</p>',
                            age: '0+'
                        }
                    ]
                })
        +e.pagination
            +b-pagination
